.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1240px;
    padding: 50px;
    margin: 50px 7%;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;

    & .card_container{
        width: 29%;
    }

}

@media( max-width: 1024px){
    .gallery{
        gap: 25px;

        & .card_container{
            width: 46%;
        }
    }
}

@media (max-width: 768px) {
    .gallery{
        flex-direction: column;
        background-color: transparent;
        margin: 2px;
        padding: 0;
        gap: 0;

        & .card_container{
            margin: 20px;
            height: 255px;
            width: 85%;
        }

    }
}
