.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1240px;
    padding: 50px 0;
    margin: 4% 7% 4% 7%;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;

}

@media (max-width: 768px) {
    .gallery{
        flex-direction: column;
        background-color: transparent;
        margin: 0;
        gap: 0;

    }
}